{
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 180,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "vueIndentScriptAndStyle": false
}
